*,
::after,
::before {
    box-sizing: border-box;
}

body,
html {
    margin: 0;
    padding: 0;
    font-family: "Roboto", sans-serif;
}

html {
    font-size: 62.5%;
    line-height: 1.5;
}

body {
    font-size: 1.6rem;
}
.heading { 
    color: white;
}
body { background-color: white;
}.header {
    background-color: #F1F1F1;
    text-align: center;
    padding: 20px
}
.headerbar{
    width: 100%; background-color: black; height: 180px;
}
img {width: 200px;}
  /* Style The Dropdown Button */
  .dropbtn {
    background-color: red;
    color: white;
    padding: 16px;
    font-size: 16px;
    border: none;
    cursor: pointer;
  }
  
  /* The container <div> - needed to position the dropdown content */
  .dropdown {
    position: relative;
    display: inline-block;
  }
  
  /* Dropdown Content (Hidden by Default) */
  .dropdown-content {
    display: none;
    position: absolute;
    background-color:white;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
  }
  
  /* Links inside the dropdown */
  .dropdown-content a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
  }
  
  /* Change color of dropdown links on hover */
  .dropdown-content a:hover {background-color: red}
  
  /* Show the dropdown menu on hover */
  .dropdown:hover .dropdown-content {
    display: block;
  }
  
  /* Change the background color of the dropdown button when the dropdown content is shown */
  .dropdown:hover .dropbtn {
    background-color: red;
  }

  .homebtn {
      position: absolute;
      top: 35%;
      right: 5%;
  }

  .vidcontainer {
    float: left;
    display: block;
    width: 30%;
    border: 5px solid red;
    border-radius: 9px;
    margin: 15px;
    background-color: black;
    color: white ;
  }
  .videosize {width:70%}

  .next
  {
    background-color: red;
  color: white;
  width: 7%;
  height: 30px;
  display: block;
  float: left;
}
.previous
  {background-color: red;
  color: white;
  width: 7%;
  height: 30px;
  display: block;
  float: left;
}
.content {
  margin-left: 9%;
  width: 100%;
}
